<h1>kanpai 2 kaime はあなたの飲み会を応援しています。</h1>
		
<ul>
	<li class="arrow"><%= link_to("近所の飲み屋を捜す", :action => "drink") %></li>
	<li class="arrow"><%= link_to("近所のカラオケを捜す", :action => "music") %></li>
</ul>
	
<p>終電を逃してしまった人へ</p>

<ul>
	<li class="arrow"><%= link_to("近所のマン喫を捜す", :action => "commic") %></li>
</ul>