kanpai 2 kaime はあなたの飲み会を応援しています。<br/>
<br/>
■<%= get_position_link_to("近所の飲み屋を捜す", :action => "drink") %><br/>
■<%= get_position_link_to("近所のカラオケを捜す", :action => "music") %><br/>
終電を逃してしまった人へ<br/><br/>
■<%= get_position_link_to("近所のマン喫を捜す", :action => "commic") %><br/>


